# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# vim
.vim
*.swp

# mac
.DS_Store

# vscode
.vscode

bytecode.txt
bytecode_factory.txt

abi.json
abi_factory.json

/utils/*